/* Add these styles to your existing styles.css file */
.text-label {
    -fx-text-fill: black; /* Green text color */
}

.text-field {
    -fx-border-color: #45a049; /* Dark green border */
    -fx-text-fill: darkGreen; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: "Arial"; /* Font family */
}

.add-button, .sigin-button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-border-color: #45a049; /* Dark green border */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: "Arial"; /* Font family */
    -fx-padding: 10 20; /* Padding */
    -fx-cursor: hand; /* Hand cursor on hover */
}

.add-button:hover {
    -fx-background-color: #45a049; /* Dark green background on hover */
}
.add-button:pressed{
    -fx-background-color: darkGreen; /* Dark green background on hover */
}










/* styles.css */
/* styles.css */

.table-view {
    -fx-background-color: #ffffff; /* White background */
}

.table-column {
    -fx-text-fill: #006400; /* Dark green text color */
    -fx-font-size: 14px; /* Font size */
}

.table-row-cell:odd {
    -fx-background-color: #f2f2f2; /* Light gray background for odd rows */
}

.table-row-cell:hover {
    -fx-background-color: #FFD700; /* gold background on hover */
}
/* Button style when pressed */
#myButton:pressed {
    -fx-background-color: darkGreen;
}
