
/*below is the styles for the add foood button*/
#myButton {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-border-color: #45a049; /* Dark green border */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: "Arial"; /* Font family */
    -fx-padding: 10 20; /* Padding */
    -fx-cursor: hand; /* Hand cursor on hover */
}

#myButton:hover {
    -fx-background-color: #45a049; /* Dark green background on hover */
}

/* Button style when pressed */
#myButton:pressed {
    -fx-background-color: darkGreen;
}